body { 
    background-color: lightslategray;
    
    font-weight: normal;
    font-style: normal;
}


#artist-form {
    float: right;
    width: 275px;
    font-size: 130%;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    border: 2px solid black;
}

#add-artist {
    margin-top: 10px;
}

button {
    font-family: 'MetalLordRegular';
    background-color: silver;
    border: 1 px solid;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 5px;
}

.img-div {
    float: left;
    padding: 20px;
    cursor: pointer;
}

p {
    font-family: 'MetalLordRegular';
}




